<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- 雷达 -->
  <gazebo reference="laser"> <!--前面定义的link属性名称-->
    <sensor type="ray" name="rplidar">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize> 
      <update_rate>5.5</update_rate> <!--更新频率-->
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution> <!--没几个测距-->
            <min_angle>-3</min_angle><!--弧度 采样范围-->
            <max_angle>3</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution><!--距离精度-->
        </range>
        <noise>
          <type>gaussian</type><!--噪音-->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>
        <frameName>laser</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
