<launch>
  <group ns="first">
    <node pkg="turtlesim"  type="turtlesim_node" name="may_turt" output="screen" />
    <node pkg="turtlesim"  type="turtle_teleop_key" name="may_key" output="screen" />
  </group>

  <group ns="second">
     <node pkg="turtlesim"  type="turtlesim_node" name="may_turt" output="screen" />
     <node pkg="turtlesim"  type="turtle_teleop_key" name="may_key" output="screen" />
  </group>


</launch>